.game_icon{
    display: inline-block;
    margin-right: 10px;
}

@media(min-width: 992px){
    .game-grid{
        padding: 0px 40px;
    }
}
@media(max-width: 992px){
    .game-card img{
        height: 35vh;
    }
    .action-bar{
        padding:0px 10px!important;
    }
    .game-grid{
        padding: 10px!important;
    }

}
.game-card{
    min-height: 250px;
    border-radius: 10px;
    overflow: hidden;
}

form{width: 100%}